<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/languages/index.css" />
<%- include('../partials/nav') %>

<section class="languages">
  <div class="languages-container">
    <div class="language-list">
      <h1 class="title">Languages</h1>
      <ul>
        <% languages.forEach(language => { %>
          <li>
            <a href="/languages/<%= language._id %>"><%= language.language %></a>
          </li>
        <% }) %>
      </ul>
    </div>
    <% if (user) { %> 
      <h2 class="title">Add a Language</h2>
      <div class="input-container">
        <form action="/languages" method="POST">
          <label>
            Language:
            <input type="text" name="language" autocomplete="off" class="input" required>
          </label>
          <label>
            Difficulty:
            <input type="text" name="difficulty" autocomplete="off" class="input" required>
          </label>
          <label>
            Sentence Structure:
            <input type="text" name="structure" autocomplete="off" class="input" required>
          </label>
          <label>
            Conjugations?
            <input type="checkbox" name="conjugation" class="input">
          </label>
          <div class="submit-button">
            <button type="submit">Add Language</button>
          </div>
        </form>
      </div>
    <% } %> 
  </div>
</section>

<%- include('../partials/footer') %>