<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/languages/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="language-container">
    <h1 class="title"><%= language.language %></h1>
    <section class="language-info">
      <div class="info-tag">Difficulty:</div>
      <div><%= language.difficulty %></div>
      <div class="info-tag">Sentence Structure:</div>
      <div><%= language.structure %></div>
      <div class="info-tag">Conjugation:</div>
      <div><%= language.conjugation ? 'Yes' : 'No' %></div>
    </section>
    <section class="buttons">
      <% if (language.owner.equals(user?.profile._id)) { %>
        <a href="/languages/<%= language._id %>/edit">
          <button type="submit">Edit Language</button>
        </a>
        <form action="/languages/<%= language._id %>?_method=DELETE" method="POST">
          <button class ="delete-btn" type="submit">Delete Language</button>
        </form>
      <% } %>
    </section>
    <h2 class="title-show" id="title-show-tips">Tips for learning <%= language.language %></h2>
    <% if (language.tips.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Tip</th>
          </tr>
        </thead>
        <tbody>
          <% language.tips.forEach(function(tip) { %>
            <tr>
              <td><%= tip.createdAt.toLocaleDateString() %></td>
              <td><%= tip.content %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Tips Yet</h3>
    <% } %>
        <% if (user) { %>
      <div class="tip-form">
        <form 
          action="/languages/<%= language._id %>/tips"
          method="POST"
        >
          <label for="content-textarea">Tip:</label>
          <textarea name="content" id="content-textarea"></textarea>
          <button class="tip-btn" type="submit">Add Tip</button>
        </form>
      </div>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>