<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= language.language %></h1>
  <section>
    <div>Difficulty:</div>
    <div><%= language.difficulty %></div>
    <div>Sentence Structure:</div>
    <div><%= language.structure %></div>
    <div>Conjugation:</div>
    <div><%= language.conjugation ? 'Yes' : 'No' %></div>
  </section>
  <section>
    <% if (language.owner.equals(user?.profile._id)) { %>
      <a href="/languages/<%= language._id %>/edit">
        <button class="btn" type="submit">Edit Language</button>
      </a>
      <form action="/languages/<%= language._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Language</button>
      </form>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>