<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Language</h1>
  <form 
    action="/profiles/<%= profile._id %>/languages/<%= language._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Language: 
      <input 
        type="text"
        name="language" 
        value="<%= profile.language %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Proficiency: 
      <input 
        type="text"
        name="difficulty" 
        value="<%= profile.proficiency %>" 
        autocomplete="off"
      >
  </label>
  <label>
    Time: 
    <input 
      type="number"
      name="structure" 
      value="<%= profile.time %>" 
      autocomplete="off"
    >
  </label>
  <label>
    <select name="unit">
      <option value="day">days</option>
      <option value="month">month</option>
      <option value="months">months</option>
      <option value="year">year</option>
      <option value="years">years</option>
    </select>
  </label>
  <button type="submit">Edit</button>
  </form>
</section>

<%- include('../partials/footer') %>