<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main class="profiles">
  <div>
    <img
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1 class="title"><%= profile.name %></h1>
  <% if (profile.languagesSpoken.length) { %>
    <h2>
      <%= isSelf ? "You are a language learner! Here's what you're studying:" : `${profile.name} is a language learner! Here's what they're studying:` %>
    </h2>
    <% profile.languagesSpoken.forEach(language => { %>
      <h3>
        <%= isSelf ? "You speak" : `${profile.name} speaks` %> <%= language.language %> at a <%= language.proficiency %> level after <%= language.time %> <%= language.unit %> of studying.   
        <% if (isSelf) { %>
          <form 
            action="/profiles/languages/<%= language._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
            <button type="submit">Delete <%= language.language %></button>
          </form>
        <% } %>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You haven't started your language journey yet." : `${profile.name} hasn't started their language journey yet.` %>  
    </h2>
  <% } %>
    <% if (isSelf) { %>
    <h2 id="add-profile-language" class="title-show">Add a Language:</h2>
    <form action="/profiles/<%= profile._id %>/languages" method="POST">
      <label>
        Language:
        <input type="text" name="language" autocomplete="off" required>
      </label>
      <label>
        Proficiency:
        <input type="text" name="proficiency" autocomplete="off" required>
      </label>
      <div class="time-container">
        <label>
          Time:
          <input type="number" name="time" autocomplete="off" required>
        </label>
        <select name="unit">
          <option value="day">days</option>
          <option value="month">month</option>
          <option value="months">months</option>
          <option value="year">year</option>
          <option value="years">years</option>
        </select>
      </div>
      <div class="submit-button">
        <button type="submit">Add Language</button>
      </div>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>