<%- include('./partials/html-head') %>
</head>
<body>
<main>
  <div class="circle-container">
    <!-- <div class="outer-circles"> -->
      <div id="fourth-circle" class="circle">
        <a 
        href="/profiles" id="profiles" <%- title === 'Profiles' ? 'class="active"' : '' %>
        >
          Profiles
        </a>
      </div>
      <div id="third-circle" class="circle">    
        <a 
        href="/countries" id="countries" <%- title === 'Countries' ? 'class="active"' : '' %>
        >
          Countries
        </a>
      </div>
      <div id="second-circle" class="circle">
        <a 
        href="/languages" id="languages" <%- title === 'Languages' ? 'class="active"' : '' %>
        >
          Languages
        </a>
      </div>
    <!-- </div> -->
    <div id="first-circle" class="circle">The Polyglot Spot</div>
  </div>
</main>

<%- include('./partials/footer') %>
