<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/countries/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="countries">
    <h1 class="title"><%= country.country %></h1>
    <section class="language-info">
      <div id="info-title">Official Languages:</div>
      <div id="official-languages"><%= country.nativeLanguages %></div>
    </section>
    <section>
      <% if (country.owner.equals(user?.profile._id)) { %>
        <a href="/countries/<%= country._id %>/edit">
          <button type="submit">Edit Country</button>
        </a>
      <% } %>
    </section>
  </div>
</main>

<%- include('../partials/footer') %>