<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= country.country %></h1>
  <section>
    <div>Native Languages:</div>
    <div><%= country.nativeLanguages %></div>
  </section>
</main>

<%- include('../partials/footer') %>